## Fichier de Configuration destinée au mode auto de la simulation ##
## Temps entre lancement des produits sur la 2ème ligne ! exemple pour 3 produits : delta : 2 5 3 ##
## Produit : d1 d2 d3 d4 : t1 t2 t3 t4 |||| exemple = A : 1 2 3 4 : 10 11 12 13 |||| Bien respecter la même syntaxe !! |||| MAX 6 PRODUITS AVEC 9 DESTINATIONS ET DONC 6 DELTAS ##
## DE PLUS IMPORTANT, LORSQUE VOUS RENSEIGNEZ LES PRODUITS, LES RENSEIGNER DANS L'ORDRE DE LANCEMENT SOUHAITE ! ##
##
## 
## Chaque lettre crée un produit d'une couleur differente
## A : rouge, B : bleu, C : vert, D : orange, E : rose, F : violet
##
## A : 1 2 3 4 : 11 12 13 15 ##
## B : 2 4 3 1 : 15 17 18 19 ##
## C : 3 1 4 2 : 10 15 17 14 ##
## D : 4 2 1 3 : 15 14 12 13 ##
## E : 4 2 1 3 : 15 14 12 13 ##
## F : 4 2 1 3 : 15 14 12 13 ##
## @ : 0 : 0 ##




Start
maxShuttleNumber : 3
delta : 2 2 2
@ : 0 : 0
A : 1 2 3 4 : 3 3 3 3
B : 3 4 1 2 : 3 3 3 3
